*{
    margin:0;
    padding:0;
    font-family: 'Open Sans', serif;

}

:root {
    --bg: #1e2323;
    --green: #88b452;
  }

body{
    font-family: 'Open Sans', serif;
    font-size: medium;
    font-weight: normal;

}

/* -------------------------------------------- NAVBAR -------------------------------------------- */

.top-nav{
    font-family: 'Open Sans', serif;
    width:100%;
    top: 0;
    height:70px;
    display:flex;
    align-items: center;
    justify-content: space-around;
    background: #1e2323;
    position:fixed;
    opacity: 1;
    z-index: 5;
    border-top: 3px solid #88b452;
    border-bottom: 1px solid #88b452;
}

.logo{
    width: 180px;
    cursor: pointer;
}

.top-nav ul li{
    list-style: none;
    display:inline-block;
    margin: 0 20px;
    position:relative;
}

.top-nav ul li a{
    text-decoration: none;
    color: #88b452;
    font-size:14px;
    font-family: 'Open Sans', serif;
    
    text-transform: uppercase;
}

.top-nav ul li::after{
    content: "";
    height:3px;
    width: 0%;
    background: #009688;
    position:absolute;
    left:0;
    bottom: -10px;
    transition: 0.5s;
}

.top-nav ul li:hover::after{
    width: 100%;
}

.nav_contact{
    color:white;
}

/* -------------------------------------------- FRONTPAGE SLIDER -------------------------------------------- */

.slider {
    position: relative;
    width: 100%;
    height: 90%;
  }
  
.slide {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75));
    transition: all 0.5s ease-in-out;
}
  
.slide.active {
    opacity: 1;
}
  
.fixed-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
  
.fixed-title h2{
    font-size: 80px;
    color: #88b452;
    width: 1200px;
    text-shadow: 3px 3px 5px #333333;
}

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 36px;
    color: #000;
}
  
.left-arrow {
    left: 20px;
    color:white;
}
  
.right-arrow {
    right: 20px;
    color:white;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.4;
}

.content{
    width:100%;
    height:100vh;   
}

.content p{
    padding-top: 30px;
    color: white;
    line-height: 25px;
    font-size:  19px;
}

.section0{
    margin-top: 70px;
    height:90vh;   
    width: 100%;
    justify-content: center;
    align-items: center;
}

/* -------------------------------------------- SERCIVE SECTION -------------------------------------------- */

.section1{
    background-color: var(--bg);
    height:90vh;
    width: 100%;

}

.service_header h1{
    /* font-family: 'Open Sans', serif; */
    font-weight: 500;
    text-transform: uppercase;
    font-size: 35px;
    padding-top: 20px;
    color: var(--green);
}  

.service_row{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    margin: 0px;
}

.service_col{
    background: #414444;
    width: 320px;
    height: 200px;
    margin: 15px;
    display:flex;
    justify-content: center;
    cursor: pointer;
}

.service_col:hover{
    background-color: var(--bg);
}

.service_col h1{
    padding-top: 40px;
    font-weight: 500;
    color: var(--green);
    font-size: 1.25rem;
}

.icon_div{
    max-height: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    opacity: 0;                          
}

.service_content{
    max-height: 0;
    position: absolute;
    opacity: 0;   
}

.show{
    transition: opacity 0.7s ease-in-out;
    max-height:180px;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    opacity: 1;
    cursor: pointer;
}

.icon{
    
    width: 40%;
    height: 40%;
    object-fit: contain;
}

.service_header{
    display:block;
    text-align: center;
    padding-top:20px;
    padding-bottom: 30px;
}

.service_header p {
    font-weight: 400;
    font-size: 15px;
    color: white;
}

.service_content p{
    padding-top:8px;
    color:white;
}

/* -------------------------------------------- LOXONE SECTION -------------------------------------------- */

.section4{
    background-color: var(--bg);
    height: 90vh;
}

.loxone_header{
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}

.loxone_container{
    height: 100vh;
    width: 80%;
    margin-left: auto;
    margin-right: auto; 
}

.loxone_content{
    display:flex;
    justify-content: center;  
}

.loxone_container h1{
    font-weight: 500;
    font-size: 2rem;
    color: var(--green);

}

.loxone_content p{
    font-size: 1rem;
    width: 50%;
    padding-left:40px;
    color:white;
    
}

.loxone_content img{
    width: 30%;
}

/* -------------------------------------------- REFERENCES SECTION -------------------------------------------- */

.section3{
    background-color: var(--bg);
    position: relative;
    width: 100%;
    height: 800px;
    overflow: hidden;
}

.section3 h1{
    text-align: center;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 2rem;
    color: var(--green);                          ;
}

.slider2 h1{
    padding-bottom: 10px;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 1.5rem;
    color: var(--green);
}

.slider2 {
    display: flex;
    width: 400%;
    height: 600px;
    transform: translateX(0);
    transition: transform 0.9s ease;
}
  
.slide2 {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.slide2 img{
    -webkit-box-shadow: 3px 3px 10px 3px #ddd;
    -moz-box-shadow: 3px 3px 10px 3px #ddd;
    box-shadow: 3px 3px 10px 3px #ddd;
}

.left, .right {
    position: absolute;
    top: 45%;
    transform: translateY(-50%);
    font-size: 30px;
    cursor: pointer;
    z-index: 1;
}

.left {
    left: 20px;
    color:white;
}

.right {
    right: 270px;
    color:white;
}

/* -------------------------------------------- ABOUT SECTION -------------------------------------------- */

.section2{
    background-color: 	var(--bg);
    height:100vh;
    width: 100%;
}

.about_row{
    display:flex;
    align-items: center;
    justify-content: center;
}

.about_col{
    border: 1px solid white;
    margin: 0px;
    display: flex;
    padding-right: 10px;
}

.about_col p{
    padding-bottom: 5px;
    padding-left:20px;
    font-size: 1rem;
    color:white;
}

.about_col h3{
    padding-bottom: 40px;
    padding-left:20px;
}

.about_header{
    display:block;
    text-align: center;
    padding-top:20px;
    padding-bottom: 20px;
}

.section2 img{
    width: 163px;
    height: 229px;  
}

.about_container h1{
    font-weight: 500;
    text-transform: uppercase;
    font-size: 2rem;
    padding-top: 20px;
    color: var(--green);
}

.about_container h3{
    font-weight: 500;
    text-transform: uppercase;
    font-size: 1.25rem;
    padding-top: 20px;
    color: white;
}

.about_container h2{
    padding-top:15px;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 400;
    border-bottom: 1px solid white;
}

.about_team_row{
    display:flex;
}

.about_team_col p{
    color:white;
}

.about_team_col{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:18%;
    height:200px;

}.about_team_col h2{
    font-size: 1.5rem;
    color: var(--green);
}

/* -------------------------------------------- JOBS SECTION -------------------------------------------- */

.section6{
    background-color: var(--bg);
    height:70vh;
}

.jobs_header h1{
    font-weight: 500;
    text-transform: uppercase;
    font-size: 2rem;
    padding-top: 20px;
    color: var(--green);
}

.jobs_header{
    text-align: center;
    padding-bottom: 60px;
    color:white;
}

.jobs_content{
    padding-left:200px;
}

.jobs_content h2{
    font-size: 1.5rem;
    font-weight: 400;
    text-transform: uppercase;
    padding-top: 40px;
    padding-bottom: 10px;
    color:var(--green);
}
.jobs_container p{
    font-weight: 400;
    font-size: 1rem;
    color:white;
}

/* -------------------------------------------- JOBS SECTION -------------------------------------------- */

.section5{
    background-color: var(--bg);
    height: 90vh;
}

.contact_header{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 40px;
}

.contact_content{
    width: 100%;
    display:flex;
    justify-content: center;
}

.contact_content p{
    font-size: 1rem;
    font-weight: 500;
    color:white;
}

.contact_address{
    display:flex;
    width: 50%;
    justify-content: center;
    }

.contact_invoice_address{
    display:flex;
    width: 50%;
    justify-content: center;
    
}
.contact_header h1{
    font-weight: 500;
    text-transform: uppercase;
    font-size: 2rem;
    padding-top: 20px;
    color: var(--green);
}

.contact_footer{
    width:100%;
    height:500px;
}

.map{
    padding-top: 40px;
    width:100%;
    height:500px; 
}